@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Manrope:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary: #201D1B;
    --accent: #7E8B2E;
    --accent-light: #F1F2DF;
    --accent-link: #FC5E38;
    --secondary-4: #CBC0B4;
    --secondary-3: #E0D8D0;
    --secondary-2: #EFEAE5;
    --secondary-1-bg: #F6F4F2;
    --accent-2: #FFF5E7;
    --divider-color: #EFEAE5;
    --text-secondary: #968779;
    --text-secondary-2: #C7BBB0;
    --text-secondary-3: #E0D8D0;
    --shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.04);
}

body {
    background-color: var(--secondary-1-bg);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    letter-spacing: 0.01em;
}

input,
button {
    font-weight: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}




.btn-primary {
    background-color: var(--accent-link);
    border-color: var(--accent-link);
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

/*.btn-primary.focus, .btn-primary:focus {*/
/*    box-shadow: none;*/
/*}*/

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

/*.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {*/
/*    box-shadow: none;*/
/*}*/


.btn-outline-primary {
    border-color: var(--accent-link);
    color: var(--accent-link)
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

/*.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {*/
/*    box-shadow: none*/
/*}*/


/* Table */
.table td, .table th {
    border-color: var(--divider-color);
}

.table-hover tbody tr:hover {
    background-color: var(--secondary-1-bg);
}

/* Card */
.card {
    box-shadow: var(--shadow);
    border-radius: 12px;
}

/* Dropdown */

.dropdown-divider {
    border-color: var(--divider-color);
}

.dropdown-menu a {
    color: var(--accent-link);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--accent-link);
    background-color: var(--secondary-1-bg);
}


/* Breadcrumbs */

.breadcrumb a {
    color: var(--accent-link);
}

.breadcrumb-item.active {
    color: var(--text-secondary);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--text-secondary);
}

/* Header */

.toggle-menu i {
    color: var(--primary);
}

.topbar-nav .navbar {
    box-shadow: var(--shadow);
}


/* User */
.right-nav-link a.nav-link {
    color: var(--primary);
}

.user-details .media .media-body .user-title {
    color: var(--primary);
}

.user-details .media .media-body .user-subtitle {
    color: var(--primary);
}


/* Sidebar */

.brand-logo {
    border-bottom-color: var(--secondary-1-bg);
}

#sidebar-wrapper {
    box-shadow: var(--shadow);
}

.sidebar-header {
    color: #CDC6BF;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    border-left-color: var(--accent-link);
    background-color: var(--secondary-1-bg);
    color: var(--primary);
}

.sidebar-menu > li > a > .fa {
    color: var(--secondary-4);
}

.sidebar-menu > li > a {
    color: var(--primary);
}


/* Footer */

.footer {
    border-color: var(--divider-color);
    background-color: transparent;
    color: var(--text-secondary);
}


/* bugfixes */

.dropdown-menu li {
    cursor: pointer;
}


/* Логотип замылен и слишком большой */
/* Наведения на бургер, пользователя */
/* Перевёрстваем футер без бордюра */
