:root {
    --primary: #201D1B;
    --accent: #7E8B2E;
    --accent-light: #F1F2DF;
    --accent-link: #FC5E38;
    --secondary-4: #CBC0B4;
    --secondary-3: #E0D8D0;
    --secondary-2: #EFEAE5;
    --secondary-1-bg: #F6F4F2;
    --accent-2: #FFF5E7;
    --divider-color: #EFEAE5;
    --text-secondary: #968779;
    --text-secondary-2: #C7BBB0;
    --text-secondary-3: #E0D8D0;

}

body {
    background-color: var(--secondary-1-bg);
    color: var(--primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

/* User area */
.right-nav-link a.nav-link {
    color: var(--primary);
}

.user-details .media .media-body .user-title {
    color: var(--primary);
}

.user-details .media .media-body .user-subtitle {
    color: var(--primary);
}


.dropdown-divider {
    border-color: var(--divider-color);
}

.dropdown-menu a {
    color: var(--accent-link);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--accent-link);
    background-color: var(--secondary-1-bg);
}


/* Sidebar handler */

.toggle-menu i {
    color: var(--primary);
}


/* Sidebar */

.sidebar-header {
    color: #CDC6BF;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    border-left-color: var(--accent-link);
    background-color: var(--secondary-1-bg);
    color: var(--primary);
}

.sidebar-menu > li > a > .fa {
    color: var(--secondary-4);
}

.brand-logo {
    border-bottom-color: var(--secondary-1-bg);
}


/* Breadcrumbs */

.breadcrumb a {
    color: var(--accent-link);
}

/* bugfixes */

.dropdown-menu li {
    cursor: pointer;
}

/* Логотип замылен и слишком большой */
